{% extends 'base.html' %}

{% block title_page %}
Редактирование поста
{% endblock %}

{% block content %}

<h1>Редактирование поста</h1>

<div class="col-md-6">
    <form action="{{ url_for('posts.edit_post', slug=post.slug) }}" method="POST">

        {% for field in form %}
            <div class="form-group">
                {{ field.label() }}
                {{ field() }}
            </div>
        {% endfor %}

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Создать</button>
    </form>
</div>

{% endblock %}